/* página inicial */

body {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #FFFFFF;
}

/*header*/

header {
    box-sizing: border-box;
    position: absolute;
    width: 817px;
    height: 68px;
    left: 309px;
    top: 139px;
    background: #C4C4C4;
    border: 1px solid #000000;
}

    
/* título */

 p {
    margin: 20px 0px 20px 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

/* mensagem superior */

#campodetexto1 {
    box-sizing: border-box;
    position: absolute;
    width: 777px;
    height: 62px;
    left: 329px;
    top: 217px;
    background: #FAFAFA;
    border: 1px solid #000000;
}

/*botão editar */

#btn_editar {
    position: absolute;
    width: 47px;
    height: 26px;
    left: 1007px;
    top: 279px;
    border: 0px;
    background: #F7A75D;
}

.textoEditar {
    position: sticky;
    width: 37px;
    height: 16px;
    left: 1012px;
    top: 284px;
    margin: 5px 5px 5px 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}

/* botão excluir */

#btn_excluir {
    position: absolute;
    width: 52px;
    height: 26px;
    left: 1054px;
    top: 279px;
    border: 0px;
    background: #F75D5D;
}
 
.textoExcluir {
    position: sticky;
    width: 42px;
    height: 16px;
    left: 1059px;
    top: 284px;
    margin: 5px 5px 5px 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;

}


/*histórico*/
.historico{
    box-sizing: border-box;
    position: absolute;
    width: 817px;
    height: 664px;
    left: 309px;
    top: 139px;
    border: 1px solid #000000;
}


/*fieldset2*/

.fieldset2 {
    box-sizing: border-box;
    position: absolute;
    width: 609px;
    height: 170px;
    left: 413px;
    top: 633px;
    background: #C4C4C4;
    border: 1px solid #000000;
}

/* text area */

#campodetexto2 {
    box-sizing: border-box;
    position: sticky;
    width: 500px;
    height: 150px;
    left: 423px;
    top: 643px;
    margin: 10px 99px 10px 10px;
    background: #FAFAFA;
    border: 1px solid #000000;
}

/*mensagem*/
.input_msg {
    position: absolute;
    width: 174px;
    height: 21px;
    left: 433px;
    top: 653px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #969696;
}

/*botão enviar*/

#btn_enviar {
    position: sticky;
    width: 79px;
    height: 36px;
    left: 933px;
    top: 643px;
    margin: 0px 0px 600px 0px;
    background: #0066CC;
    border: 0px;
    border-radius: 10px;
}

.textoEnviar {
    position: sticky;
    width: 39px;
    height: 16px;
    left: 953px;
    top: 653px;
    margin: 10px 20px 10px 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}